@model IEnumerable<TodoMVC.Models.Todo>

<h2>My TODO List</h2>
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-info"
         role="progressbar"
         style="width:@(Html.AttributeEncode(ViewBag.Percent))%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        @(ViewBag.Percent)%
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.IsDone)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                    <div class="completedTodo">@Html.DisplayFor(modelItem => item.Description)</div>
                }
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<script src="~/ScriptsCustom/AddCheckBoxListener.js"></script>